@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.active {
    color: black !important;
    background-color: #eae2b7 !important;
}

/******************* EFFECTS  **********************/
@keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes parallaxBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -50px -50px;
  }
}
@keyframes pulse {
  0% { transform: scale(0.95); }
  70% { transform: scale(1); }
  100% { transform: scale(0.95); }
}

.fade-in {
  animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shooting-stars {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-100vh); opacity: 0; }
}

.shooting-stars-text {
  font-size: 3rem;
  color: #FFF;
  position: relative;
  overflow: hidden;
}
.shooting-stars-text::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 2px;
  background-color: #FFF;
  animation: shooting-stars 3s linear infinite;
}
